# tex files
*.aux
*.dvi
*.log
*.out
*.synctex.gz
*.vrb

# image files
*.png
*.PNG
*.jpg
*.JPG

# python env
env

# pytorch datasets
data

# python cache file
__pycache__

# tonsorboard log dir
runs

# pickle file
*.pkl

# archive file
*.zip
